{{!-- Content preview --}}
<div class="post-sneak-peek{{#if fading}} fading{{/if}}">
  {{{html}}}
</div>

{{!-- Post Access CTA --}}
<div class="post-access-cta p-lg text-center {{visibility}}">
  <h3 class="paid">{{t "This post is for paid members only"}}</h3>
  <h3 class="members">{{t "Публикация только для подписчиков"}}</h3>
  <a class="btn btn--brand btn--rounded m-b-lg" href="https://blog.themarfa.name/#/portal/signup/">{{t "Subscribe"}}</a>
  <div class="small">{{t "Уже есть аккаунт?"}} <a class="post-access-alt" href="https://blog.themarfa.name/#/portal/signin">{{t "Sign in"}}</a></div>
</div>