<header class="site-header">
  <div class="row">

    <div class="column medium-column-35 large-column-25">
      {{#if @site.logo}}
        <h1 class="site-title"><a href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}"></a></h1>
      {{else}}
        <h1 class="site-title"><a href="{{@site.url}}">{{@site.title}}</a></h1>
      {{/if}}
      <p class="site-description">{{@site.description}}<br>Для связи <a href="mailto:biz@themarfa.name">biz@themarfa.name</a> или Telegram @immarfa</p>
    </div>

    <div class="column">
      <form class="search-form">

      </form>
    </div>

  </div>
</header>
