<div class="post-hero{{#unless feature_image}} no-img{{/unless}}{{#if featured}} featured{{/if}}">
  <div class="post-hero__content">
    <h1 class="post-hero__title text-center">{{title}}</h1>

    {{!-- Post card Author/s --}}
    <div class="post-hero__author flex-cc m-b-lg">
      {{#has author="count:<2"}}
        {{#primary_author}}
          <a class="flex items-center" href="{{url}}" aria-label="{{name}}">
            <span class="post-hero__author-img{{#if profile_image}} img{{/if}}">
              {{#if profile_image}}
                <img 
                  data-src="{{img_url profile_image size="xs"}}" 
                  src="{{img_url profile_image size="xxs"}}" 
                  alt="{{name}}" 
                />
              {{else}}
                {{>icon name="user" size="sm"}}
              {{/if}}
            </span>

            <div class="m-l-sm flex flex-col fw-500 line-height-1 gap-4">
              <div>{{name}}</div>
              <time datetime="{{date ../published_at format='YYYY-MM-DD'}}" class="text-xs">
                {{date ../published_at timeago=""}}
              </time>
            </div>
          </a>
        {{/primary_author}}
      {{else}}
        <div class="flex items-center">
          {{#foreach authors}}
            <a href="{{url}}" class="post-hero__author-img{{#if profile_image}} img{{/if}} nr-{{@number}}" 
              title="{{name}}" aria-label="{{name}}">
              {{#if profile_image}}
                <img 
                  data-src="{{img_url profile_image size="xs"}}" 
                  src="{{img_url profile_image size="xxs"}}" 
                  alt="{{name}}" 
                />
              {{else}}
                {{>icon name="user" size="sm"}}
              {{/if}}
            </a>
          {{/foreach}}
        </div>
        <div class="m-l-sm flex flex-col fw-500 line-height-1 gap-4">
          <div>{{#authors separator=", "}}{{/authors}}</div>
          <time datetime="{{date format='YYYY-MM-DD'}}" class="text-xs">
            {{date published_at timeago=""}}
          </time>
        </div>
      {{/has}}
    </div>
  </div>

  {{!-- Post image --}}
  {{#if feature_image}}
    <figure class="post-hero__img">
      <img
        class=""
        srcset="{{img_url feature_image size="s"}} 300w,
                {{img_url feature_image size="m"}} 600w,
                {{img_url feature_image size="l"}} 1000w,
                {{img_url feature_image size="xl"}} 2000w"
        sizes="(max-width: 800px) 400px,
                (max-width: 1170px) 700px,
                1400px"
        src="{{img_url feature_image size="s"}}"
        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
      />
      {{#if feature_image_caption}}
        <figcaption>{{feature_image_caption}}</figcaption>
      {{/if}}
    </figure>
  {{/if}}
</div>