{{!< default}}

<div class="article">
    <div class="article__inner">
    {{#post}}
        <article class="{{post_class}}">
            <header class="post__header">
                {{#if feature_image}}
                <img class="post__feature-image" src="{{feature_image}}">
                {{/if}}
                <div class="post__info">
                    <h1 class="post__title">{{title}}</h1>
                    <span class="post__meta">
                        <time datetime="{{date published_at format="MMMM DD, YYYY"}}" class="post__date">{{date published_at format="MMMM DD, YYYY"}}</time><span class="post__author">{{authors}}</span>
                    </span>
                </div>
            </header>

            <section class="post__content">
                {{content}}

                {{#if tags}}
                <span class="post__tags">
                    <b>Теги:</b>
                    {{#foreach tags}}
                        <a href="{{url}}" class="tag">{{name}}</a>
                    {{/foreach}}
                </span>
                {{/if}}
            </section>
        </article>

        <div class="article__read-next">
            {{#next_post}}<a href="{{url}}" class="article__next-post"><div class="arrow">←</div><span>{{title}}</span></a>{{/next_post}}
            {{#prev_post}}<a href="{{url}}" class="article__prev-post"><div class="arrow">→</div><span>{{title}}</span></a>{{/prev_post}}
        </div>

        <script src="https://cdn.fastcomments.com/js/embed-v2.min.js"></script>
<div id="fastcomments-widget"></div>
<script>
window.FastCommentsUI(document.getElementById('fastcomments-widget'), {
    "tenantId": "iPjaMPm9xQu"
});
</script>
    {{/post}}
    </div>

    {{> sidebar}}
</div>