{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<div class="container wrapper">
  {{> post-hero}}
  <!-- секция баннеров  -->

<script type="text/javascript">
var myadspace = [];
myadspace[0] = '<noindex><a href="https://pst.net/private?utm_source=themarfa_banner1" target="_blank" rel="nofollow"><img src="https://blog.themarfa.name/content/images/2023/10/1200200-ru-no-fb.gif" alt="PST" style="min-width: 120px; width: 100%;"></a></noindex>'
myadspace[1] = '<noindex><a href="https://abcard.io?utm_source=media&utm_medium=cpc&utm_campaign=blogthemarfa&utm_content=banner_04" target="_blank" rel="nofollow"><img src="https://blog.themarfa.name/content/images/2024/03/1200-200_gif.gif" alt="Any Bill" style="min-width: 120px; width: 100%;"></a></noindex>'
myadspace[2] = '<noindex><a href="https://ficca2021.com/g/tvbtu293z5ea3067190f8f43554cb4/?erid=5jtCeReNwxHpfQTFQGiRvQV" target="_blank" rel="nofollow"><img src="https://cdn.admitad-connect.com/public/bs/2023/07/14/728_x_115wm.a538.png" alt="Any Bill" style="min-width: 120px; width: 100%;"></a></noindex>'
var x = 0;
function rotate(myadspace) {
while (x < myadspace.length) {
var sort = Math.floor(Math.random() * myadspace.length);
if (myadspace[sort] != 0) {
document.getElementById('adspace').innerHTML = (myadspace[sort]);
myadspace[sort] = 0;
x++;
}
}
}
</script>
<style>
#adspace {
}
#adspace img {
}
</style>
<div id="adspace">
<script type="text/javascript">
rotate(myadspace);
</script>
</div>                
<!-- секция баннеров -->
<div class="container wrapper">
  {{> post-hero}}
  <div class="row">
    <div class="col-xs-12 col-lg-8 col-xl-9">
      <article class="{{post_class}} content-wrap post-access-{{visibility}} no-overflow">
        <div class="content">
          {{#if custom_excerpt}}
            <p class="context-excerpt text-lg">
              {{custom_excerpt}}
            </p>
          {{/if}}
          {{#if access}}
            {{content}}
<div class="kg-card kg-button-card kg-align-center"><a href="https://pay.cloudtips.ru/p/e66259cc" class="kg-btn kg-btn-accent" target="_blank" rel="noreferrer noopener">Поддержать донатом</a></div>
            {{#if tags}}
              <hr>
              <div class="post-tags flex">
                {{#foreach tags}}
                  <a class="tag-{{slug}} m-r bg-acc-2 text-sm fw-700" href="{{url}}" 
                    title="{{name}}" aria-label="{{name}}">#{{name}}</a>
                {{/foreach}}
              </div>
              <hr>
            {{/if}}
          {{else}}
            {{> content-cta fading=true}}
          {{/if}}
        </div>
      </article>
    </div>
    <div class="col-xs-12 col-lg-4 col-xl-3">
      {{> sidebar}}
    </div>
  </div>
</div>

{{!-- Include Comments --}}
{{#if access}}
  {{> comments}}
{{/if}}

{{!-- Related posts --}}
{{> related-posts}}
{{/post}}
