<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
<link rel="apple-touch-icon" sizes="57x57" href="{{asset "apple-icon-57x57.png"}}">
<link rel="apple-touch-icon" sizes="60x60" href="{{asset "apple-icon-60x60.png"}}">
<link rel="apple-touch-icon" sizes="72x72" href="{{asset "apple-icon-72x72.png"}}">
<link rel="apple-touch-icon" sizes="76x76" href="{{asset "apple-icon-76x76.png"}}">
<link rel="apple-touch-icon" sizes="114x114" href="{{asset "apple-icon-114x114.png"}}">
<link rel="apple-touch-icon" sizes="120x120" href="{{asset "apple-icon-120x120.png"}}">
<link rel="apple-touch-icon" sizes="144x144" href="{{asset "apple-icon-144x144.png"}}">
<link rel="apple-touch-icon" sizes="152x152" href="{{asset "apple-icon-152x152.png"}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{asset "apple-icon-180x180.png"}}">
<link rel="icon" type="image/png" sizes="192x192"  href="{{asset "android-icon-192x192.png"}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{asset "favicon-32x32.png"}}">
<link rel="icon" type="image/png" sizes="96x96" href="{{asset "favicon-96x96.png"}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{asset "favicon-16x16.png"}}">
<link rel="icon" type="image/svg+xml" sizes="120x120" href="{{asset "logo_tel_chat.svg"}}">
<link rel="manifest" href="{{asset "manifest.json"}}">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{asset "ms-icon-144x144.png"}}">
<meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" type="text/css" href="{{asset "css/app.css"}}">
    <script>window.yaContextCb=window.yaContextCb||[]</script>
    <script src="https://yandex.ru/ads/system/context.js" async></script>
    <script type="text/javascript" src="{{asset "scripts/main.js"}}"></script>
    {{ghost_head}}
</head>
<body class="{{body_class}}">
<!-- Luxup banners  -->
<!-- Fullscreen_mobile  -->
<script async type='text/javascript' src='//s.luxcdn.com/t/225529/360_light.js'></script>
<script class='__lxGc__' type='text/javascript'>
((__lxGc__=window.__lxGc__||{'s':{},'b':0})['s']['_225529']=__lxGc__['s']['_225529']||{'b':{}})['b']['_708255']={'i':__lxGc__.b++};
</script>
<!-- Fullscreen_desktop  -->
<script async type='text/javascript' src='//s.luxcdn.com/t/225529/360_light.js'></script>
<script class='__lxGc__' type='text/javascript'>
((__lxGc__=window.__lxGc__||{'s':{},'b':0})['s']['_225529']=__lxGc__['s']['_225529']||{'b':{}})['b']['_708254']={'i':__lxGc__.b++};
</script>
<!-- Luxup banners  -->
<script>if ((window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches && !document.cookie.includes('dark=false')) || document.cookie.includes('dark=true')) {
    document.body.classList.add('dark');
}</script>
{{> "nav"}}
<main class="wow fadeIn">
{{{body}}}
</main>

{{> footer}}
<div class="scroll-to-top hidden"></div>
{{ghost_foot}}
</body>
<script async type='text/javascript' src='//s.clickiocdn.com/t/225529/360_light.js'></script>
<script class='__lxGc__' type='text/javascript'>
((__lxGc__=window.__lxGc__||{'s':{},'b':0})['s']['_225529']=__lxGc__['s']['_225529']||{'b':{}})['b']['_682546']={'i':__lxGc__.b++};
</script>
<script async type='text/javascript' src='//s.luxcdn.com/t/225529/360_light.js'></script>
<script class='__lxGc__' type='text/javascript'>
((__lxGc__=window.__lxGc__||{'s':{},'b':0})['s']['_225529']=__lxGc__['s']['_225529']||{'b':{}})['b']['_682546']={'i':__lxGc__.b++};
</script>
</html>
