{{!< default}}

<div class="article">
    <div class="article__inner">
    {{#post}}
        <article class="{{post_class}}">
            <header class="post__header">
                {{#if feature_image}}
                <img class="post__feature-image" src="{{feature_image}}">
                {{/if}}
                <div class="post__info">
                    <h1 class="post__title">{{title}}</h1>
                    <span class="post__meta">
                        <time datetime="{{date published_at format="MMMM DD, YYYY"}}" class="post__date">{{date published_at format="MMMM DD, YYYY"}}</time><span class="post__author">{{authors}}</span>
                    </span>
                </div>
            </header>

            <section class="post__content">
                <div class="post__content-inner">
                {{content}}
                </div>

                {{#if tags}}
                <span class="post__tags">
                    <b>Теги:</b>
                    {{#foreach tags}}
                        <a href="{{url}}" class="tag">{{name}}</a>
                    {{/foreach}}
                </span>
                {{/if}}

                <ins class="adsbygoogle"
                     style="display:block;max-height:200px;"
                     data-ad-client="ca-pub-6070814285497936"
                     data-ad-slot="3487354804"
                     data-ad-format="horizontal"
                     data-full-width-responsive="true"
                ></ins>
            </section>
        </article>

        {{#is "post"}}
        <div class="article__read-next">
            {{#next_post}}<a href="{{url}}" class="article__next-post"><div class="arrow">←</div><span>{{title}}</span></a>{{/next_post}}
            {{#prev_post}}<a href="{{url}}" class="article__prev-post"><div class="arrow">→</div><span>{{title}}</span></a>{{/prev_post}}
        </div>

	<script>talkyardServerUrl='https://site-6quegdt4mv.talkyard.net';</script>
<script async defer src="https://c1.ty-cdn.net/-/talkyard-comments.min.js"></script>
<!-- You can specify a per page discussion id on the next line, if your URLs might change. -->
<div class="talkyard-comments" data-discussion-id="{{comment_id}}" style="margin-top: 45px;">
<noscript>Please enable Javascript to view comments.</noscript>
<p style="margin-top: 25px; opacity: 0.9; font-size: 96%">Comments powered by
<a href="https://www.talkyard.io">Talkyard</a>.</p>
</div>
        {{/is}}

        <script>
            function createAd() {
                let el = document.createElement('ins');
                let d = el.dataset;
                el.className = "adsbygoogle";
                d.adClient = "ca-pub-6070814285497936";
                d.adSlot = "3487354804";
                d.adFormat = "horizontal";
                d.fullWidthResponsive = "true";
                el.setAttribute("style", "display:block;max-height:200px;");
                return el;
            }

            $('.post__content-inner > p').first().after(createAd());

            if ($('.post__content-inner').text().trim().length >= 1000) {
                let q = $('.post__content-inner > p');
                let n = Math.floor(q.length / 2);
                $(q[n - 1]).after(createAd());
            }
        </script>
    {{/post}}
    </div>

    {{> sidebar ads=true}}
</div>
