{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<div class="container wrapper">
  {{> post-hero}}
  <!-- pst  -->
<a href="https://pst.net/private?utm_source=themarfa_banner1"><img src="https://blog.themarfa.name/content/images/2023/10/1200200-ru-no-fb.gif" class="kg-image" alt="" loading="lazy" width="90%" height="50%" srcset="https://blog.themarfa.name/content/images/2023/10/1200200-ru-no-fb.gif 600w, https://blog.themarfa.name/content/images/2023/10/1200200-ru-no-fb.gif 1000w, https://blog.themarfa.name/content/images/2023/10/1200200-ru-no-fb.gif 1400w" sizes="(min-width: 120px) 120px"></a>
<!-- pst  -->
<br>
<br>
<!-- market place  -->
<div id="mp_custom_6934"></div> <script>window.mpsuStart = window.mpsuStart || [], window.mpsuStart.push(6934);</script>                            
<!-- market place  -->
<br>
<br>
<!-- EPN  -->
<a href="https://epn.net/?ref=themarfab"><img src="https://imageup.ru/img155/4744955/1200_200.gif" class="kg-image" alt="" loading="lazy" width="90%" height="50%" srcset="https://imageup.ru/img155/4744955/1200_200.gif 600w, https://imageup.ru/img155/4744955/1200_200.gif 1000w, https://imageup.ru/img155/4744955/1200_200.gif 1400w" sizes="(min-width: 120px) 120px"></a>                         
<!-- EPN  -->
<br>
<br>
<!-- Anybill  -->
<a href="https://abcard.io?utm_source=media&utm_medium=cpc&utm_campaign=blogthemarfa&utm_content=banner_03"><img src="https://imageup.ru/img252/4752428/banner_blogthemarfa_2.gif" class="kg-image" alt="" loading="lazy" width="90%" height="50%" srcset="https://imageup.ru/img252/4752428/banner_blogthemarfa_2.gif 600w, https://imageup.ru/img252/4752428/banner_blogthemarfa_2.gif 1000w, https://imageup.ru/img252/4752428/banner_blogthemarfa_2.gif 1400w" sizes="(min-width: 120px) 120px"></a>                         
<!-- Anybill  -->

                <div class="post__content-inner">
				<script async type='text/javascript' src='//s.clickiocdn.com/t/225529/360_light.js'></script>
<script class='__lxGc__' type='text/javascript'>
((__lxGc__=window.__lxGc__||{'s':{},'b':0})['s']['_225529']=__lxGc__['s']['_225529']||{'b':{}})['b']['_683379']={'i':__lxGc__.b++};
</script>
				<script async type='text/javascript' src='//s.luxcdn.com/t/225529/360_light.js'></script>
<script class='__lxGc__' type='text/javascript'>
((__lxGc__=window.__lxGc__||{'s':{},'b':0})['s']['_225529']=__lxGc__['s']['_225529']||{'b':{}})['b']['_683379']={'i':__lxGc__.b++};
</script>
<!-- market place  -->
  <article class="{{post_class}} content-wrap post-access-{{visibility}}">
    <div class="content">
      {{#if access}}
        {{content}}

        {{#if primary_tag}}
          <hr>
          <div class="post-tags flex">
            {{#foreach tags}}
              <a class="tag-{{slug}} m-r bg-acc-2 text-sm fw-700" href="{{url}}" 
                title="{{name}}" aria-label="{{name}}">#{{name}}</a>
            {{/foreach}}
          </div>
          <hr>
        {{/if}}
      {{else}}
        {{> content-cta fading=true}}
      {{/if}}
    </div>
  </article>
</div>

{{!-- Include Comments --}}
        <script src="https://cdn.fastcomments.com/js/embed-v2.min.js"></script>
<div id="fastcomments-widget"></div>
<script>
window.FastCommentsUI(document.getElementById('fastcomments-widget'), {
    "tenantId": "iPjaMPm9xQu"
});
</script>

{{!-- Related posts --}}
{{> related-posts}}
{{/post}}
