{{!< default}}

<div class="article">
    <div class="article__inner">
    {{#post}}
        <article class="{{post_class}}">
            <header class="post__header">
                {{#if feature_image}}
                <img class="post__feature-image" src="{{feature_image}}">
                {{/if}}
                <div class="post__info">
                    <h1 class="post__title">{{title}}</h1>
                    <span class="post__meta">
                        <time datetime="{{date published_at format="DD MMMM YYYY"}}" class="post__date">{{date published_at format="DD MMMM YYYY"}}</time><span class="post__author">{{authors}}</span>
                    </span>
                </div>
            </header>
            <section class="post__content">
			<!-- pst  -->
<a href="https://pst.net/private?utm_source=themarfa_banner1"><img src="https://blog.themarfa.name/content/images/2023/10/1200200-ru-no-fb.gif" class="kg-image" alt="" loading="lazy" width="90%" height="50%" srcset="https://blog.themarfa.name/content/images/2023/10/1200200-ru-no-fb.gif 600w, https://blog.themarfa.name/content/images/2023/10/1200200-ru-no-fb.gif 1000w, https://blog.themarfa.name/content/images/2023/10/1200200-ru-no-fb.gif 1400w" sizes="(min-width: 120px) 120px"></a>
<!-- pst  -->
<br>
<br>
<!-- market place  -->
<div id="mp_custom_6934"></div>
<script>(function(w, d, n, s, t) {w[n] = w[n] || [];w[n].push(function() {mp_banners('6934');});t = d.getElementsByTagName("script")[0];s = d.createElement("script");s.type = "text/javascript";s.src = "https://mpsuadv.ru/lib/custom/banners.js";s.async = true;t.parentNode.insertBefore(s, t);})(this, this.document, "mpsuRotator");</script>                             
<!-- market place  -->

                <div class="post__content-inner">
				<script async type='text/javascript' src='//s.clickiocdn.com/t/225529/360_light.js'></script>
<script class='__lxGc__' type='text/javascript'>
((__lxGc__=window.__lxGc__||{'s':{},'b':0})['s']['_225529']=__lxGc__['s']['_225529']||{'b':{}})['b']['_683379']={'i':__lxGc__.b++};
</script>
				<script async type='text/javascript' src='//s.luxcdn.com/t/225529/360_light.js'></script>
<script class='__lxGc__' type='text/javascript'>
((__lxGc__=window.__lxGc__||{'s':{},'b':0})['s']['_225529']=__lxGc__['s']['_225529']||{'b':{}})['b']['_683379']={'i':__lxGc__.b++};
</script>
<!-- market place  -->
                {{content}}
                </div>

                {{#if tags}}
                <span class="post__tags">
                    <b>Теги:</b>
                    {{#foreach tags}}
                        <a href="{{url}}" class="tag">{{name}}</a>
                    {{/foreach}}
                </span>
                {{/if}}
            </section>
        </article>

        {{#is "post"}}
        <div class="article__read-next">
            {{#next_post}}<a href="{{url}}" class="article__next-post"><div class="arrow">←</div><span>{{title}}</span></a>{{/next_post}}
            {{#prev_post}}<a href="{{url}}" class="article__prev-post"><div class="arrow">→</div><span>{{title}}</span></a>{{/prev_post}}
        </div>
        <script src="https://cdn.fastcomments.com/js/embed-v2.min.js"></script>
<div id="fastcomments-widget"></div>
<script>
window.FastCommentsUI(document.getElementById('fastcomments-widget'), {
    "tenantId": "iPjaMPm9xQu"
});
</script>
        {{/is}}

    {{/post}}
    </div>

    {{> sidebar ads=true}}
</div>
