{{!< default}}

<div class="article">
    <div class="article__inner">
    {{#post}}
        <article class="{{post_class}}">
            <header class="post__header">
                {{#if feature_image}}
                <img class="post__feature-image" src="{{feature_image}}">
                {{/if}}
                <div class="post__info">
                    <h1 class="post__title">{{title}}</h1>
                    <span class="post__meta">
                        <time datetime="{{date published_at format="DD MMMM YYYY"}}" class="post__date">{{date published_at format="DD MMMM YYYY"}}</time><span class="post__author">{{authors}}</span>
                    </span>
                </div>
            </header>
            <section class="post__content">
<a href="https://pst.net/?utm_source=themarfa_banner"><img src="https://blog.themarfa.name/content/images/2022/10/Frame-3-1400X250.gif" class="kg-image" alt="" loading="lazy" width="50%" height="50%" srcset="https://blog.themarfa.name/content/images/size/w600/2022/10/Frame-3-1400X250.gif 600w, https://blog.themarfa.name/content/images/size/w1000/2022/10/Frame-3-1400X250.gif 1000w, https://blog.themarfa.name/content/images/2022/10/Frame-3-1400X250.gif 1400w" sizes="(min-width: 120px) 120px"></a>

<a href="https://tutortop.ru/goto/?number=386&type=additional_links&pid=themarfa&sub1=banner"><img src="https://blog.themarfa.name/content/images/size/w1000/2023/01/Frame-7266.png" class="kg-image" alt="" loading="lazy" width="50%" height="50%" srcset="https://blog.themarfa.name/content/images/size/w1000/2023/01/Frame-7266.png 600w, https://blog.themarfa.name/content/images/size/w1000/2023/01/Frame-7266.png 1000w, https://blog.themarfa.name/content/images/size/w1000/2023/01/Frame-7266.png 1400w" sizes="(min-width: 120px) 120px"></a>
                <div class="post__content-inner">
				<script async type='text/javascript' src='//s.clickiocdn.com/t/225529/360_light.js'></script>
<script class='__lxGc__' type='text/javascript'>
((__lxGc__=window.__lxGc__||{'s':{},'b':0})['s']['_225529']=__lxGc__['s']['_225529']||{'b':{}})['b']['_683379']={'i':__lxGc__.b++};
</script>
                {{content}}
                </div>

                {{#if tags}}
                <span class="post__tags">
                    <b>Теги:</b>
                    {{#foreach tags}}
                        <a href="{{url}}" class="tag">{{name}}</a>
                    {{/foreach}}
                </span>
                {{/if}}
            </section>
        </article>

        {{#is "post"}}
        <div class="article__read-next">
            {{#next_post}}<a href="{{url}}" class="article__next-post"><div class="arrow">←</div><span>{{title}}</span></a>{{/next_post}}
            {{#prev_post}}<a href="{{url}}" class="article__prev-post"><div class="arrow">→</div><span>{{title}}</span></a>{{/prev_post}}
        </div>
        <script src="https://cdn.fastcomments.com/js/embed-v2.min.js"></script>
<div id="fastcomments-widget"></div>
<script>
window.FastCommentsUI(document.getElementById('fastcomments-widget'), {
    "tenantId": "iPjaMPm9xQu"
});
</script>
        {{/is}}

    {{/post}}
    </div>

    {{> sidebar ads=true}}
</div>
