{{!< default}}

<div class="article">
    <div class="article__inner">
    {{#post}}
        <article class="{{post_class}}">
            <header class="post__header">
                {{#if feature_image}}
                <img class="post__feature-image" src="{{feature_image}}">
                {{/if}}
                <div class="post__info">
                    <h1 class="post__title">{{title}}</h1>
                    <span class="post__meta">
                        <time datetime="{{date published_at format="DD MMMM YYYY"}}" class="post__date">{{date published_at format="DD MMMM YYYY"}}</time><span class="post__author">{{authors}}</span>
                    </span>
                </div>
            </header>
            <section class="post__content">

                <div class="post__content-inner">
				<script async type='text/javascript' src='//s.clickiocdn.com/t/225529/360_light.js'></script>
<script class='__lxGc__' type='text/javascript'>
((__lxGc__=window.__lxGc__||{'s':{},'b':0})['s']['_225529']=__lxGc__['s']['_225529']||{'b':{}})['b']['_683379']={'i':__lxGc__.b++};
</script>
                {{content}}
                </div>

                {{#if tags}}
                <span class="post__tags">
                    <b>Теги:</b>
                    {{#foreach tags}}
                        <a href="{{url}}" class="tag">{{name}}</a>
                    {{/foreach}}
                </span>
                {{/if}}
            </section>
        </article>

        {{#is "post"}}
        <div class="article__read-next">
            {{#next_post}}<a href="{{url}}" class="article__next-post"><div class="arrow">←</div><span>{{title}}</span></a>{{/next_post}}
            {{#prev_post}}<a href="{{url}}" class="article__prev-post"><div class="arrow">→</div><span>{{title}}</span></a>{{/prev_post}}
        </div>
        <div id="disqus_thread">        </div>
        <script type="text/javascript">
            let disqus_shortname = 'marfa';
            let disqus_identifier = '{{comment_id}}';
        </script>
        {{/is}}

    {{/post}}
    </div>

    {{> sidebar ads=true}}
</div>
