{{!< default}}

<div class="article">
    <div class="article__inner">
    {{#post}}
        <article class="{{post_class}}">
            <header class="post__header">
                {{#if feature_image}}
                <img class="post__feature-image" src="{{feature_image}}">
                {{/if}}
                <div class="post__info">
                    <h1 class="post__title">{{title}}</h1>
                    <span class="post__meta">
                        <time datetime="{{date published_at format="DD MMMM YYYY"}}" class="post__date">{{date published_at format="DD MMMM YYYY"}}</time><span class="post__author">{{authors}}</span>
                    </span>
                </div>
            </header>
            <script data-voiced="player">!function(e,n,i,t,o,c,r,s){if(void 0!==e[t])return c();r=n.createElement(i),s=n.getElementsByTagName(i)[0],r.id=t,r.src="https://widget.retell.cc/js/common.min.js",r.async=1,s.parentNode.insertBefore(r,s),r.onload=c}(window,document,"script","Retell",0,function(){Retell.init( { "rate": 1.1 } )});</script>
            <section class="post__content">

                <div class="post__content-inner">
                {{content}}
                <hr>
<div class="kg-card kg-button-card kg-align-center"><a href="https://boosty.to/themarfa" class="kg-btn kg-btn-accent">Читать посты без рекламы на Boosty</a></div>
                </div>

                {{#if tags}}
                <span class="post__tags">
                    <b>Теги:</b>
                    {{#foreach tags}}
                        <a href="{{url}}" class="tag">{{name}}</a>
                    {{/foreach}}
                </span>
                {{/if}}
                 <ins class="adsbygoogle"
                     style="display:block;max-height:200px;"
                     data-ad-client="ca-pub-6070814285497936"
                     data-ad-slot="3487354804"
                     data-ad-format="horizontal"
                     data-full-width-responsive="true"
                ></ins>
            </section>
        </article>

        {{#is "post"}}
        <div class="article__read-next">
            {{#next_post}}<a href="{{url}}" class="article__next-post"><div class="arrow">←</div><span>{{title}}</span></a>{{/next_post}}
            {{#prev_post}}<a href="{{url}}" class="article__prev-post"><div class="arrow">→</div><span>{{title}}</span></a>{{/prev_post}}
        </div>
        <div id="disqus_thread">        </div>
        <script type="text/javascript">
            let disqus_shortname = 'marfa';
            let disqus_identifier = '{{comment_id}}';
        </script>
        {{/is}}

        <script>
            function createAd() {
                let el = document.createElement('ins');
                let d = el.dataset;
                el.className = "adsbygoogle";
                d.adClient = "ca-pub-6070814285497936";
                d.adSlot = "3487354804";
                d.adFormat = "horizontal";
                d.fullWidthResponsive = "true";
                el.setAttribute("style", "display:block;max-height:200px;");
                return el;
            }

            $('.post__content-inner > p').first().after(createAd());

            if ($('.post__content-inner').text().trim().length >= 1000) {
                let q = $('.post__content-inner > p');
                let n = Math.floor(q.length / 2);
                $(q[n - 1]).after(createAd());
            }
        </script>
    {{/post}}
    </div>

    {{> sidebar ads=true}}
</div>
